<div class="education">
  <h1 class="education__title">Education</h1>
  <div class="education__container">
    <p class="education__container__description">
      Explore my academic background to discover my expertise in software development
    </p>
  </div>
</div>

<div class="education-history">
  <div class="education-history__container">
    <div class="education-history__info education-history__info--left">
      <p class="education-history__university">UNINORTE</p>
      <p class="education-history__period education-history__period--highlight">2014 - 2018</p>
    </div>
    <div class="education-history__info education-history__info--right">
      <p class="education-history__degree">Bachelor of Science in Computer Science</p>
      <p class="education-history__description">This program focuses on the theoretical and practical aspects of computer science. Students learn programming languages, algorithms, data structures, software engineering, and more.</p>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="education-history__container">
    <div class="education-history__info education-history__info--left">
      <p class="education-history__university">UNIASSELVI</p>
      <p class="education-history__period education-history__period--highlight">2014 - 2016</p>
    </div>
    <div class="education-history__info education-history__info--right">
      <p class="education-history__degree">Associate's Degree in Systems Analysis and Development</p>
      <p class="education-history__description">This program is designed to teach students the fundamental principles and techniques of computer programming, software engineering, and systems analysis. Students learn to design and develop software applications, as well as analyze and troubleshoot existing systems.</p>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="education-history__container">
    <div class="education-history__info education-history__info--left">
      <p class="education-history__university">ITEGAM</p>
      <p class="education-history__period education-history__period--highlight">2016 - 2018</p>
    </div>
    <div class="education-history__info education-history__info--right">
      <p class="education-history__degree">Master of Science in Process Engineering</p>
      <p class="education-history__description">This program focuses on the design, operation, and optimization of chemical and industrial processes. Students learn about process modeling, simulation, control, and more.</p>
    </div>
  </div>
</div>

<br><br>


