@import "../../../styles.scss";
$breakpoint-small: 800px;

.developer {
  display: flex;
  justify-content: center;

  &__header {
    font-family: $gotham-black;
    color: $white;
    font-size: 2rem;
    background-color: $black-cards;
    // max-width: 70rem;
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &-container-flex {
      display: flex;
      justify-content: space-around;
    }

    &__header-container {
      // suas regras de estilo aqui
    }

    &-information {
      font-family: "Gotham Black";
      font-size: 48px;
      line-height: 3.5rem;

      &-highlight {
        color: $yellow;
      }
    }

    &-description {
      margin-top: 2rem;
      font-family: "Gotham Light";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      text-align: justify;
    }

    &-more-info {
      margin-top: 2rem;

      &-btn {
        padding: 1rem;
        background-color: $yellow;
        border-radius: 8px;
        border: none;
        width: auto;
        height: 51px;
        text-transform: uppercase;
        color: $white;
        font-family: "Gotham Light";
      }
    }
  }

  &__image {
    height: auto;
    width: 325.72px;

    &-container {
      margin-top: 1rem;
    }
  }

  &__footer {
    color: black;
  }

  @media only screen and (max-width: $breakpoint-small) {

    .developer__header {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 1rem;
      padding-left: 1rem;
    }

    .developer__header-container-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .developer__header-container {
      width: 100%;
      text-align: center;
    }

    .developer__image {
      width: 50vw;
      /* largura da imagem em 80% da largura da tela */
      height: auto;
      /* altura ajustada automaticamente para manter a proporção original da imagem */
    }

    .developer__image-container {
      width: 100%;
      text-align: center;
    }
  }
}