<div class="developer">
  <header class="developer__header">
    <div class="developer__header-container-flex">

      <!-- Left Content -->
      <div class="developer__header-container">
        <div class="developer__header-information">
          <p>{{name}}</p>
          <p><span class="developer__header-information-highlight">Front-end</span> Developer</p>
        </div>
        <div class="developer__header-description">
          <p>{{description}}</p>
        </div>
        <div class="developer__header-more-info">
          <button
            type="button"
            class="developer__header-more-info-btn"
            (click)="showMoreInfo()"
          >More Information</button>
        </div>
      </div>

      <!-- Right Content -->
      <div class="developer__image-container">
        <img
          class="developer__image"
          src="assets/images/recortada.png"
          alt="Code boy with a computer"
        >
        <p class="developer__image-container-text">
          Project under development, stay tuned for updates</p>
      </div>
    </div>
  </header>
</div>
