<div class="developer">
  <header class="developer__header">
    <div class="developer__header-container-flex">

      <!-- Left Content -->
      <div class="developer__header-container">
        <div class="developer__header-information">
          <p>{{name}}</p>
          <p><span class="developer__header-information-highlight">Front-end</span> Developer</p>
        </div>
        <div class="developer__header-description">
          <p>{{descriptions.primary}}</p>
          <p>{{descriptions.secondary}}</p>
        </div>
        <div class="developer__header-more-info">
          <button
            type="button"
            class="developer__header-more-info-btn"
            (click)="isModalOpen = true"
          >Hire Me !</button>
        </div>
      </div>

      <!-- Right Content -->
      <div
        class="developer__image-container"
        appHideOnMobile
      >
        <img
          class="developer__image"
          src="assets/images/developer-activity.svg"
          alt="Code boy with a computer"
        >
      </div>
    </div>
  </header>
</div>

<app-modal-hire
  *ngIf="isModalOpen"
  (onCancelClick)="onCancel()"
  (onOkClick)="onOk()"
  (onCloseModal)="closeModal()"
  [isModalOpen]="isModalOpen"
></app-modal-hire>

<app-my-services> </app-my-services>

<app-education></app-education>
