.progress-bar {
  &__progress {
    width: 200px;
    height: 0.3rem;
    padding: 1px;
    margin-top: 0.5rem;
    background-color: #242526;
    border-radius: 0.5rem;
    border: solid 1px #ffb400;

    &--bar {
      height: 100%;
      border-radius: 0.5rem;
      background-color: #ffb400;
    }
  }
}