<div class="languages">
  <p class="languages--title">Languages</p>

  <div
    *ngFor="let language of languages"
    class="languages__list"
  >

    <div class="languages__list--info">
      <span class="languages__list--info--name">{{ language.name }}</span>
      <span class="languages__list--info--percentage">{{ language.percentage }}%</span>
    </div>

    <div class="languages__list__progress">
      <div
        class="languages__list__progress--bar"
        [style.width]="language.percentage + '%'"
      ></div>
    </div>

  </div>
</div>
