@import "../../../../styles.scss";

.languages {
  font-family: $gotham-light;
  font-size: 15px;

  &--title {
    text-align: left;
    font-family: 'Gotham Black';
    color: #fff;
    margin-bottom: 1rem;
  }

  &__list {

    margin-bottom: 1rem;

    &--info {
      display: flex;
      justify-content: space-between;


      &--name {
        font-size: 15px;
        font-family: $gotham-light;
        color: $yellow;
      }

      &--proficiency {
        font-size: 15px;
        font-family: $gotham-light;
      }
    }
  }
}