<div class="card-container">
  <div class="card">
    <img src="assets/images/web-dev.png" class="card__icon" />
    <h2 class="card__title">Web Development</h2>
    <p class="card__subtitle">Modern and responsive websites</p>
  </div>
  <div class="card">
    <img src="assets/images/ui-ux.png" class="card__icon" />
    <h2 class="card__title">UI/UX Design</h2>
    <p class="card__subtitle">Intuitive and engaging user experiences</p>
  </div>
  <div class="card">
    <img src="assets/images/technical-support.png" class="card__icon" />
    <h2 class="card__title">Frontend consulting</h2>
    <p class="card__subtitle">
      Expert advice and guidance for frontend projects
    </p>
  </div>
</div>
