<p class="title">Skills</p>
<div class="skill">
  <img
    class="skill__icon"
    src="assets/images/Icons.png"
    alt="Ícone"
  >
  <span class="skill__name">HTML, CSS, SASS, LESS</span>
</div>

<div class="skill">
  <img
    class="skill__icon"
    src="assets/images/Icons.png"
    alt="Ícone"
  >
  <span class="skill__name">TypeScript, JavaScript</span>
</div>

<div class="skill">
  <img
    class="skill__icon"
    src="assets/images/Icons.png"
    alt="Ícone"
  >
  <span class="skill__name">Angular</span>
</div>


<div class="skill">
  <img
    class="skill__icon"
    src="assets/images/Icons.png"
    alt="Ícone"
  >
  <span class="skill__name">Bootstrap, Material Design</span>
</div>

<div class="skill">
  <img
    class="skill__icon"
    src="assets/images/Icons.png"
    alt="Ícone"
  >
  <span class="skill__name">GIT, Agile Methodologies</span>
</div>
