<app-info-box [title]="title" [description]="description"></app-info-box>

<div class="gallery">
  <a href="https://www.google.com" class="gallery__item" target="_blank">
    <img src="assets/images/300x300.png" alt="Placeholder" class="gallery__image">
    <div class="gallery__overlay">
      <i class="fa fa-plus"></i>
    </div>
  </a>
  <a href="https://www.google.com" class="gallery__item" target="_blank">
    <img src="assets/images/300x300.png" alt="Placeholder" class="gallery__image">
    <div class="gallery__overlay">
      <i class="fa fa-plus"></i>
    </div>
  </a>
  <a href="https://www.google.com" class="gallery__item" target="_blank">
    <img src="assets/images/300x300.png" alt="Placeholder" class="gallery__image">
    <div class="gallery__overlay">
      <i class="fa fa-plus"></i>
    </div>
  </a>
</div>
