<app-info-box [title]="title" [description]="description"></app-info-box>

<!-- Category Selector -->
<div class="category-selector">
  <!-- 'All' category button -->
  <div class="category-selector__button category-selector__button--active"
    [class.category-selector__button--active]="activeCategory === 'All'"
    (click)="changeCategory('All')">All</div>
  <!-- 'Web Development' category button -->
  <div class="category-selector__button"
    [class.category-selector__button--active]="activeCategory === 'Web Development'"
    (click)="changeCategory('Web Development')">Web Development</div>
  <!-- 'UI/UX Design' category button -->
  <div class="category-selector__button"
    [class.category-selector__button--active]="activeCategory === 'UI/UX Design'"
    (click)="changeCategory('UI/UX Design')">UI/UX Design</div>
</div>

<!-- Gallery section -->
<div class="gallery">
  <!-- Gallery item using ngFor to loop through images -->
  <a *ngFor="let image of getImagesForCategory()" href="{{ image.url }}" class="gallery__item" target="_blank">
    <!-- Image element with src and alt attributes from the current image object -->
    <img [src]="image.src" [alt]="image.alt" class="gallery__image">
    <!-- Overlay element with plus icon from font-awesome library -->
    <div class="gallery__overlay">
      <i class="fa fa-plus"></i>
    </div>
  </a>
</div>
