@import "../styles.scss";
.title {
  font-family: $gothan;
  color: $white;
}

.develop {
  display: flex;
  justify-content: center;
  &__header {
    color: $white;
    font-size: 2rem;
    background-color: $black-cards;
    width: 70rem;
    // min-height: 30rem;
    // max-height: auto;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;


    &--informations {
      font-family: 'Gotham Black';
      font-size: 48px;
      line-height: 3.5rem;
    }

    &--description {
      margin-top: 2rem;
      // font-family: 'Inter';
      font-family: 'Gotham Light';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* Paragraph Font */
      // color: #767676;
      color: $white;
    }

    &--more-info {
      margin-top: 2rem;

      &-btn {
        padding: 1rem;
        background-color: $yellow;
        border-radius: 8px;
        border: none;
        width: auto;
        height: 51px;
        text-transform: uppercase;
        color: $white;
        font-family: 'Gotham Light';
      }
    }
  }

  &__footer {
    color: black;
  }
}

.header-container-flex {
  display: flex; justify-content: space-around;
}

.imagem {
  width: 325.72px;
  height: 300px;
}

@media only screen and (max-width: 800px) {
  .header-container-flex {
    flex-direction: column;
  }
  .imagem {
     margin-top: 1rem;
     width: 325.72px;
     height: 300px;
  }
}
