<div class="develop">
  <header class="develop__header gothan-black">
    <div class="header-container-flex">
    <div >
      <div class="develop__header--informations">
        <p>Sou, Philip Ramkeerat</p>
        <p><span style="color: #FFB400;">Front-end</span> Developer</p>
      </div>
      <div class="develop__header--description">
        <p>Há vários anos atuando como desenvolvedor Frontend, desenvolvendo diversos projetos web,
          possuo fortes habilidades com o framework Angular
        </p>
      </div>
      <div class="develop__header--more-info">
        <button type="button" class="develop__header--more-info-btn"
         (click)="log()">Mais Informações</button>
      </div>
    </div>

    <div style="width: 30%;">
        <img class="imagem" src="/assets/images/web-development.png"
        alt="Imagem de Perfil"
        >
    </div>
    </div>
  </header>
</div>
