<div class="informations">
  <img
    appHideOnMobile
    class="informations__image"
    src="assets/images/developer-image-2.png"
    alt="Descrição da imagem"
  >
  <div
    class="informations__name"
    appHideOnMobile
  >Philip Ramkeerat</div>
  <div
    class="informations__description"
    appHideOnMobile
  >Front-End Developer</div>

  <app-social-icons> </app-social-icons>
  <app-horizontal-line> </app-horizontal-line>

  <app-info></app-info>
  <app-horizontal-line> </app-horizontal-line>

  <app-languages></app-languages>
  <app-horizontal-line> </app-horizontal-line>

  <app-skills> </app-skills>
  <app-horizontal-line> </app-horizontal-line>

  <app-extra-skills></app-extra-skills>
</div>
