@import "../../../styles.scss";


.informations {
  padding: 1rem;
  background-color: $black-cards;
  text-align: center;

  &__image {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    background: #F5F5F5;
    border: solid 1px grey;
  }

  &__name {
    font-family: 'Gotham Black';
    color: $white;
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__description {
    font-family: 'Gotham Light';
    color: $white;
    font-size: 15px;
    margin-bottom: 0.5rem;
  }
}