<div class="informations">
  <img
    class="informations__image"
    src="assets/images/recortada.png"
    alt="Descrição da imagem"
  >
  <div class="informations__name">Philip Ramkeerat</div>
  <div class="informations__description">Front-End Developer</div>

  <ul class="skills-list">
    <li class="skill-item">
      <img
        class="icon"
        src="assets/images/social-icons/insta.png"
        alt="Instagram"
      >
    </li>

    <li class="skill-item">
      <img
        class="icon"
        src="assets/images/social-icons/twitter.png"
        alt="Twitter"
      >
    </li>

    <li class="skill-item">
      <img
        class="icon"
        src="assets/images/social-icons/facebook.png"
        alt="Facebook"
      >
    </li>

    <li class="skill-item">
      <img
        class="icon"
        src="assets/images/social-icons/linkedin.png"
        alt="Linkedin"
      >
    </li>

    <li class="skill-item">
      <img
        class="icon"
        src="assets/images/social-icons/youtube.png"
        alt="YouTube"
      >
    </li>

    <li class="skill-item">
      <img
        class="icon"
        src="assets/images/social-icons/website.png"
        alt="Website"
      >
    </li>

  </ul>
</div>

<hr>
