@import "../../../../styles.scss";


.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $gotham-light;
  font-size: 15px;

  &--title {
    font-family: 'Gotham Black';
    color: #fff;
    text-align: left;
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    &--info {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &--name {
        font-size: 15px;
      }

      &--percentage {
        font-size: 15px;
      }
    }
  }
}