<div class="info">
  <div class="info__row">
    <div class="info__label">Age:</div>
    <div class="info__value">{{ age }}</div>
  </div>
  <div class="info__row">
    <div class="info__label">Residence:</div>
    <div class="info__value">{{ residence }}</div>
  </div>
  <div class="info__row">
    <div class="info__label">Freelance:</div>
    <div class="info__value--freelance">{{ freelance }}</div>
  </div>
  <div class="info__row">
    <div class="info__label">Address:</div>
    <div class="info__value">{{ address }}</div>
  </div>
</div>
